.App {
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.Header {
  width: 400px;
  height: 100px;
  background-color: white;
  border: 1px solid tomato;
  border-radius: 7px 7px 0 0;
}

.Content {
  width: 400px;
  height: 200px;
  background-color: white;
  border: 1px solid tomato;
}

.Footer {
  width: 400px;
  height: 100px;
  background-color: white;
  border: 1px solid tomato;
  border-radius: 0 0 7px 7px;
}
