* {
  box-sizing: border-box;
}

.App {
  font-family: 'Roboto', cursive;
  text-align: center;
  background-color: #282c34;
  height: 100vh;
  width: 100vw;
}

.Modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 99, 71, 0.1);
  position: absolute;
  top: 0;
  left: 0;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  height: 100px;
  background-color: white;
  border: 1px solid tomato;
  border-radius: 7px 7px 0 0;
  font-size: 21px;
  font-style: italic;
  padding-left: 20px;
}

.Header button {
  background-color: rgba(255, 99, 71, 0.1);
  border: 1px solid black;
  border-radius: 7px;
  align-self: stretch;
}

.Content {
  width: 400px;
  height: 200px;
  background-color: white;
  border: 1px solid tomato;
}

.Footer {
  width: 400px;
  height: 100px;
  background-color: white;
  border: 1px solid tomato;
  border-radius: 0 0 7px 7px;
}

.Footer button {
  background-color: rgba(255, 99, 71, 0.1);
  border: 1px solid black;
  border-radius: 7px;
  font-size: 16px;
}
